.chess-board {
    width: 816px;
    display: grid;
    background-color: gray;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}

.chess-cell {
    /* width: 100px; */
    height: 100px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}

.chess-option {
    /* width: 100px; */
    height: 100px;
    background-color: lightblue;
    border-style: solid;
    border-width: 1px;
    text-align: center;
}