.login.title {
    position:relative;
    top: 2vh;
    padding: 5px;
    text-align: center;
    width: 40%;
    margin-left: 50%;
    transform: translate(-50%);
    border-style:groove;
    /* border-width: 3px; */
}


#start-div {
    border-radius: 15px;
    width:500px;
    background-color: lightblue;
    height: 750px;
    margin-top: 8vh;
    margin-left: 50%;
    transform: translate(-50%);
}

#start-div form {
    position:relative;
    top:2vh;
    color:rgb(70, 80, 120);
    border-radius: 15px;
    text-align: center;
    width: 50%;
    height: 40%;
    transform: translate(50%);
    background-color: rgba(255, 255, 255, 0.2);
}

#start-div .alert{
    position: absolute;
    color: red;
    margin-left: 5%;
}

div#username {
    position:relative;
    top:22%;
}

div#password {
    position:relative;
    top:40%;
}

#start-div div.input-field {
    border-radius: 6px;
    background-color: rgb(199, 199, 199);
    left: 10%;
    width: 80%;
    display: inline-block;
}

div#username img {
    padding: 3px 0 0 0;
    width: 25px;
    height: 25px;
}

div#password img {
    padding: 5px 5px 3px 5px;
    width: 15px;
    height: 17px;
}

#start-div input.login-details {
    border-radius: 6px;
    padding-top: 3px;
    float:right;
    background-color: rgb(199, 199, 199);
    height: 25px;
    border-style:hidden;
}

input#login-button{
    font-size: 20px;
    font-style:normal;
    width: 80%;
    height: 10%;
    background-color: rgba(80, 106, 255, 0.5);
    position: absolute;
    bottom: 40px;
    transform: translate(-50%);
    border-radius: 10px;
}

#login-button:hover {
    background-color: rgb(80, 107, 255);
}

div#new-user{
    text-align: center;
    position: relative;
    top: 20%;
}

#divider {
    display: inline-block;
    width: 100%;
    position: relative;
    top: 14%;
    margin-left: 50%;
    transform: translate(-50%);
    text-align: center;
}

#divider p {
    width: 30%;
    float: left;
}

.line.left {
    float:left;
    margin-top: 1.5em;
    height: 1px;
    width: 30%;
    margin-left: 5%;
    background-color: black;
}

.line.right {
    float:right;
    margin-top: 1.5em;
    height: 1px;
    width: 30%;
    margin-right: 5%;
    background-color: black;
}

#new-user p {
    font-size: 20px;
}

#new-user button{
    border-style:groove;
    font-size: 20px;
    width: 30%;
    background-color: rgba(80, 106, 255, 0.5);
    border-radius: 10px;
}

#new-user button:hover{
    background-color: rgb(80, 107, 255);
}